.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 62em) {
  html {
    font-size: 52%;
  }
}
@media only screen and (max-width: 35em) {
  html {
    font-size: 38%;
  }
}

body {
  color: #000;
  background-color: #fff;
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
}

h1.heading {
  font-size: 4.5rem;
  font-weight: 700;
}

h2.heading {
  font-size: 3.5rem;
  font-weight: 700;
}

.text {
  font-size: 2.5rem;
  font-weight: 400;
}

.btn {
  background-color: #000;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  border: 2px solid #000;
  padding: 1rem 0;
  max-width: 41rem;
  width: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 0.3s;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 auto;
}
.btn:hover {
  background-color: transparent;
  color: #000;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

.box {
  text-align: center;
  background-color: #fff;
  border-radius: 2rem;
  padding: 5.5rem 2.4rem;
  display: inline-block;
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  width: 95%;
  margin: 0 auto;
}

.start-page {
  background-color: #e0cabc;
}
.start-page .hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: 100vh;
}
@media only screen and (max-width: 62em) {
  .start-page .hero {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }
}
.start-page .hero__img {
  height: 100vh;
  width: 100%;
}
@media only screen and (max-width: 62em) {
  .start-page .hero__img {
    display: none;
  }
}
.start-page .hero__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.start-page .hero__content {
  margin-right: auto;
  max-width: 60rem;
}
@media only screen and (max-width: 62em) {
  .start-page .hero__content {
    margin: 0 auto;
    width: 95%;
  }
}
.start-page .hero__content h1 {
  text-align: center;
  font-family: "Rosario", sans-serif;
}
.start-page .hero__box {
  width: 100%;
}
.start-page .hero__box h2,
.start-page .hero__box .text {
  color: #373434;
}

.result-page,
.timeout-page {
  background-image: linear-gradient(#ffdf64, #f4d456);
}
.result-page .result,
.timeout-page .result {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result-page .result__box,
.timeout-page .result__box {
  max-width: 43.5rem;
  width: 95%;
  margin: 0 auto;
}
.result-page .result__img,
.timeout-page .result__img {
  height: 27rem;
  max-width: 31rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.result-page .result__img img,
.timeout-page .result__img img {
  height: 100%;
  width: 100%;
}

.timeout-page {
  background-image: linear-gradient(#ff646d, #f45656);
}

.mcq-page {
  background-color: #b0b8ff;
}
.mcq-page .main {
  max-width: 114rem;
  margin: 0 auto;
}
.mcq-page .box {
  padding: 3rem;
  max-width: 77rem;
  margin: 0 auto;
  display: block;
}
.mcq-page .mcq {
  padding-top: 10rem;
}
.mcq-page .mcq__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@media only screen and (max-width: 25em) {
  .mcq-page .mcq__time {
    flex-direction: column;
    gap: 2rem;
  }
}
.mcq-page .mcq__time--text {
  font-size: 3rem;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
@media only screen and (max-width: 25em) {
  .mcq-page .mcq__time--text {
    justify-content: center;
  }
}
.mcq-page .mcq__time--text .text {
  margin-right: 1rem;
}
.mcq-page .mcq__time--text .text,
.mcq-page .mcq__time--text .countdown-timer {
  font-size: 3rem;
  font-weight: 700;
  color: #000;
}
.mcq-page .mcq__time .btn {
  width: 22rem;
  margin-left: auto;
}
.mcq-page .mcq__box {
  text-align: left;
  margin-bottom: 3rem;
}
.mcq-page .mcq__box:last-child {
  margin-bottom: 10rem;
}
.mcq-page .mcq__box h3,
.mcq-page .mcq__box label {
  font-size: 3rem;
}
.mcq-page .mcq__box h3 {
  font-weight: 700;
}
.mcq-page .mcq__box label {
  font-weight: 400;
  cursor: pointer;
}
.mcq-page .mcq__item input {
  border: 3px solid #000;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */